<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Erkam's Blog</title>

  <!-- Bootstrap core CSS -->
  <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css')}}" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename='css/clean-blog.min.css')}}" rel="stylesheet">

</head>

<body style="background-color: #f1f1f1;">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-md navbar-light fixed-top bg-dark" style="opacity: 0.9;" id="mainNav" st>
    <div class="container">
      <a class="navbar-brand" href="{{url_for('home.index')}}" id="nav-baslik" >Erkam's Blog <strong><span>☂️</span></strong> </a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" style="background-color: #007acc;" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('home.index') }}">Home</a>
          </li>
          {% if not current_user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('user.login') }}" style="color: #21a2f1;">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('user.register') }}">Register</a>
          </li>


          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('user.logout') }}" style="color: #8d534c;">{{ current_user.name }} - Log Out</a>
          </li>
          {% endif %}

          
          {% if current_user.id == 1 %}
          <!-- ADMIN ONLY -->
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('movie.add') }}">Add Movie</a>
          </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('user.about') }}">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('user.contact') }}">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
