{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
{% include "header.html" %}

  <div id="hero">
    <video autoplay muted loop>
      <source src="{{ url_for('static', filename='img/space.mp4')}}" type="video/mp4">
    </video>
  <div class="content">
  <!-- Page Header -->
  <header class="masthead">
    <div class="overlay">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1> <strong>Login</strong> </h1>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container" style="color:aliceblue">
    <div class="row" style="align-items: center;">

      <div class="col-lg-8 col-md-10 mx-auto content" style="position: relative;top:300px;">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
           <p>{{ message }}</p>
          {% endfor %}
        {% endif %}
      {% endwith %}
        {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "dark"}) }}
      </div>
    </div>
  </div>

</div>
</div>

{% endblock %}